page-home {

    ion-content {
        .scroll-content {
            background-color: #ed6b57;
        }
    }

    .item {
        background-color: transparent;
    }

    ion-input {
        width: 75%;
    }

    .round {
        margin-top: 50px;
        margin-bottom: 30px;
        border-radius: 50%;
        width: 50%;
        border: 1px solid white;
    }

    .rowStyle {
        background-color: #fff; 
        padding-left: 10px; 
        border-radius: 30px;
        margin-top: 10px;
    }

    h1{
        color: white;
    }
}
