page-feed {
    .rowStyle {
        background-color: #fff; 
        padding-left: 10px; 
        border-radius: 30px;
        margin-top: 10px;
        border: solid 1px #ed6b57;

        ion-input {
            margin-top: 5px;
        }
    }
}
